@import url(//db.onlinewebfonts.com/c/fbd1ac8bfeabe3fbeaa8a01022b2b307?family=ITC+Mixage);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    list-style-type: none;
    text-decoration: none;
}

/* Barre de navigation */

.navigation{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navigation img{
    height: 62px;
    width: 40px;
    margin: 24px 48px;
}
.navigation .nav{
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    width: 47%;
}
.navigation .nav a{
    color: #000000;
}

.navigation .nav button{
    min-width: 120px;
    position: static;
    padding: 13px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    font-weight: 700;
    background-color: #000000;
    color: #f1f1f1;
    cursor: pointer;
    transition: 0.3s;
    font-family: ITC Mixage, sans-serif;
}
.navigation .nav button:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2)
}

.navigation .nav li{
    transition: 0.2s;
}
.navigation .nav li:hover{
    transform: scale(1.1);
}

/* SECTION 1 */

.sec1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 150px;
}

.sec1 .block-left{
    max-width: 500px;
}
.sec1 .block-right{
    max-width: 500px;
}


.sec1 .block-right img{
    width: 100%;
}
.sec1 .block-left h5{
    font-size: 20px;
}
.sec1 .block-left h2{
    font-size: 4em;
    margin: 50px 0;
} 
.sec1 .block-left p{
    font-size: 20px;
    word-spacing: 3px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-bottom: 53px;
}

.sec1 .block-left button{
    min-width: 150px;
    padding: 15px;
    font-size: 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.4s;
    font-family: ITC Mixage, sans-serif;
}
.sec1 .block-left button:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2)
}

@media(max-width:1274px){
    .sec1{
        justify-content: center;
        margin: 150px 20px;
    }
    .sec1 .block-left h2{
        font-size: 3em;
        margin: 50px 0;
    } 
}
@media(max-width:1084px){
    .sec1{
        justify-content: center;
    }
    .sec1 .block-left h5{
        font-size: 18px;
    } 
    .sec1 .block-left h2{
        font-size: 2.1em;
        margin: 50px 0;
    } 
    .sec1 .block-left p{
        font-size: 18px;
    } 
}
@media(max-width:964px){
    .sec1 .block-right{
        max-width: 400px;
    }
}
@media(max-width:863px){
    .sec1 .block-right{
        max-width: 350px;
    }
}
@media(max-width:814px){
    .sec1{
        flex-direction: column-reverse;
    }
    .sec1 .block-left{
        text-align: center;
    }
    .sec1 .block-left h5{
        font-size: 20px;
    }
    .sec1 .block-left h2{
        font-size: 2.5em;
    }
    .sec1 .block-left p{
        font-size: 20px;
    }
}
@media(max-width:541px){
    .sec1 .block-left h2{
        font-size: 1.8em;
    }
    .sec1 .block-left p{
        font-size: 18px;
    }

}

/* SECTION 2 */
.sec2{
    background-color: #f5f5f5;
    margin-top: 200px;
    padding-bottom: 50px;

}

.sec2 h1:nth-child(1){
    text-align: center;
    font-size: 2.3em;
    padding: 165px 0 45px 0;
    width: 90%;
    margin: 0 auto;
}
.sec2 p:nth-child(2){
    text-align: center;
    font-size: 20px;
    word-spacing: 5px;
    line-height: 28px;
    margin: 0 auto;
    width: 50%;
}
.sec2 img{
    width: 100%;
}

.sec2 .container{
    margin-top: 72px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 20px;
}

.sec2 .block{
    max-width: 400px;
}
.sec2 .block-2{
    margin: 0 20px;
}

.sec2 .block h1{
    margin: 56px 0 40px 0;
    font-weight: 800;
}
.sec2 .block p{
    font-size: 20px;
    width: 90%;
    color: #000;
}

.sec2 button{
    display: block;
    margin: 56px auto;
    min-width: 290px;
    padding: 15px;
    font-size: 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    font-family: ITC Mixage, sans-serif;
}

.sec2 button:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2)
}

@media(max-width:1094px){
    .sec2 p:nth-child(2){
        text-align: center;
        font-size: 20px;
        word-spacing: 5px;
        line-height: 28px;
        margin: 0 auto;
        width: 80%;
    }
}

@media (max-width:920px) {
    .sec2 .container{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .sec2 .block{
        margin-bottom: 50px;
    }
    .sec2 .block p{
        font-size: 20px;
        width: 100%;
        color: #000;
        margin-bottom: 50px;
    }
    .sec2 .block h1{
        margin: 10px 0 10px 0;
    }
    .sec2 button{
        margin: 0 auto;
    }
}

@media (max-width:801px){
    .sec2 p:nth-child(2){
        font-size: 18px;
    }
}
@media (max-width:300px){
    .sec2 button{
        min-width: 200px;
    }
}
/* SECTION 3 */
 .sec3{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.sec3 .block{
    max-width: 550px;
}
.sec3 .block-left{
    margin-right: 100px;
}
.sec3 .block-right{
    margin-right: 10px;
}

.sec3 .block-left img{
    width: 100%;
}

.sec3 .block-right h1{
    font-size: 2.2em;
    margin-bottom: 43px;
}
.sec3 .block-right p:nth-child(3){
    margin: 30px 0;
}
.sec3 .block-right p{
    font-size: 18px;
}

@media (max-width:900px){
    .sec3 .block-right p{
        font-size: 16px;
    }
    .sec3 .block-right h1{
        font-size: 1.5em;
    }
}
@media (max-width:780px){
    .sec3{
        flex-direction: column;
        text-align: center;
    }
    .sec3 .block-left {
        margin-right: 0;
    }
    .sec3 .block-right p{
        font-size: 18px;
        padding: 0 10px;
    }
    .sec3 .block-right h1{
        font-size: 2.2em;
        margin-bottom: 43px;
    }
    .sec3 .block-right p:nth-child(3){
        margin: 60px 10px;
    }
}
@media (max-width:365px){
    .sec3 .block-right p{
        font-size: 16px;
    }
}

/* SECTION 4 */

.sec4{
    background-color: #f5f5f5;
    margin-top: 200px;
    padding-bottom: 50px;

}

.sec4 h1:nth-child(1){
    text-align: center;
    font-size: 2.3em;
    padding: 165px 0 45px 0;
    width: 90%;
    margin: 0 auto;
}
.sec4 p:nth-child(2){
    text-align: center;
    font-size: 20px;
    word-spacing: 5px;
    line-height: 28px;
    margin: 0 auto;
    width: 50%;
}
.sec4 a{
    color: #000;
    text-decoration: underline;
}
.sec4 img{
    width: 100%;
}

.sec4 .container{
    margin-top: 72px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 20px;
}

.sec4 .block{
    max-width: 400px;
}
.sec4 .block-2{
    margin: 0 20px;
}

.sec4 .block h1{
    margin: 56px 0 40px 0;
    font-weight: 800;
}
.sec4 .block p{
    font-size: 20px;
    width: 90%;
    color: #000;
}

.sec4 button{
    display: block;
    margin: 56px auto;
    min-width: 290px;
    padding: 15px;
    font-size: 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    font-family: ITC Mixage, sans-serif;
}

.sec4 button:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2)
}

@media(max-width:1094px){
    .sec4 p:nth-child(2){
        text-align: center;
        font-size: 20px;
        word-spacing: 5px;
        line-height: 28px;
        margin: 0 auto;
        width: 80%;
    }
}

@media (max-width:920px) {
    .sec4 .container{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .sec4 .block{
        margin-bottom: 50px;
    }
    .sec4 .block p{
        font-size: 20px;
        width: 100%;
        color: #000;
        margin-bottom: 50px;
    }
    .sec4 .block h1{
        margin: 10px 0 10px 0;
    }
    .sec4 button{
        margin: 0 auto;
    }
}

@media (max-width:801px){
    .sec4 p:nth-child(2){
        font-size: 18px;
    }
}
@media (max-width:300px){
    .sec4 .block h1{
        font-size: 20px;
    }
    .sec4 .block p{
        font-size: 15px;
    }
    .sec4 button{
        min-width: 200px;
    }
    .sec4 p:nth-child(2){
        font-size: 17px;
    }
}


/* SECTION 5 */
.sec5{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 150px 0;
}

.sec5 .block{
    max-width: 550px;
    padding: 20px;
}

.sec5 .block-right img{
    width: 100%;
}

.sec5 .block-left h1{
    font-size: 2.3em;
}
.sec5 .block-left{
    margin-right: 10px;
}

.sec5 .block-left p:nth-child(2){
    margin: 30px 0;
}

.sec5 .block-left p{
    font-size: 19px;
    line-height: 28px;
    width: 82%;
}

.sec5 .block-left a{
    color: #000;
    text-decoration: underline;
}

@media (max-width: 1105px){
    .sec5 .block-left h1{
        font-size: 1.8em;
    }
    .sec5 .block-left p{
        font-size: 15px;
        line-height: 28px;
        width: 82%;
    }
}
@media (max-width: 780px){
    .sec5{
        flex-direction: column;
        justify-content: center;
    }
    .sec5 .block-left{
        margin-right: 0;
        text-align: center;
        margin-bottom: 50px;
    }
    .sec5 .block-left p{
        width: 100%;
    }
}


/* SECTION 6 */
.sec6{
    background-color: #000;
}
.sec6 h1{
    margin: 0 20px;
    padding: 150px 0 70px 0;
    font-size: 2em;
    text-align: center;
    color: white;
}

.sec6 .block-image{
    margin: 0 auto;
    padding-bottom: 120px;
    max-width: 1205px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sec6 .block-image img{
    width: 70px;
    margin: 30px 30px;
}
.sec6 .block-image img:nth-child(7){
    width: 120px;
}