*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    list-style-type: none;
    text-decoration: none;
}

/* Barre de navigation */

.navigation{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navigation img{
    height: 62px;
    width: 40px;
    margin: 24px 48px;
}
.navigation .nav{
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    width: 47%;
}
.navigation .nav a{
    color: #000000;
}

.navigation .nav button{
    min-width: 120px;
    padding: 13px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    font-weight: 700;
    background-color: #000000;
    color: #f1f1f1;
    cursor: pointer;
    font-family: Raleway, sans-serif;
    transition: 0.3s;
}
.navigation .nav button:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2)
}

.navigation .nav li{
    transition: 0.2s;
}
.navigation .nav li:hover{
    transform: scale(1.1);
}

/* SECTION 1 */

.sec1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 150px;
}

.sec1 .block-left{
    max-width: 500px;
}
.sec1 .block-right{
    max-width: 500px;
}


.sec1 .block-right img{
    width: 100%;
}
.sec1 .block-left h5{
    font-size: 20px;
}
.sec1 .block-left h2{
    font-size: 4em;
    margin: 50px 0;
} 
.sec1 .block-left p{
    font-size: 20px;
    word-spacing: 3px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-bottom: 53px;
}

.sec1 .block-left button{
    min-width: 150px;
    padding: 15px;
    font-size: 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    transition: 0.4s;
}
.sec1 .block-left button:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2)
}

@media(max-width:1274px){
    .sec1{
        justify-content: center;
        margin: 150px 20px;
    }
    .sec1 .block-left h2{
        font-size: 3em;
        margin: 50px 0;
    } 
}
@media(max-width:1084px){
    .sec1{
        justify-content: center;
    }
    .sec1 .block-left h5{
        font-size: 18px;
    } 
    .sec1 .block-left h2{
        font-size: 2.1em;
        margin: 50px 0;
    } 
    .sec1 .block-left p{
        font-size: 18px;
    } 
}
@media(max-width:964px){
    .sec1 .block-right{
        max-width: 400px;
    }
}
@media(max-width:863px){
    .sec1 .block-right{
        max-width: 350px;
    }
}
@media(max-width:814px){
    .sec1{
        flex-direction: column-reverse;
    }
    .sec1 .block-left{
        text-align: center;
    }
    .sec1 .block-left h5{
        font-size: 20px;
    }
    .sec1 .block-left h2{
        font-size: 2.5em;
    }
    .sec1 .block-left p{
        font-size: 20px;
    }
}
@media(max-width:541px){
    .sec1 .block-left h2{
        font-size: 1.8em;
    }
    .sec1 .block-left p{
        font-size: 18px;
    }

}